<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLog - My Wander Log</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen">
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="#" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">WanderLog</span>
                        </a>
                    </div>
                </div>
                <div class="hidden md:flex items-center space-x-3">
                    <a href="#" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-blue-500 hover:text-white transition duration-300">Home</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="max-w-6xl mx-auto mt-8 px-4">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="p-4 border-b bg-gray-50">
                <h2 class="text-2xl font-semibold text-gray-800" My Wander Log</h2>
            </div>
            <div class="p-4">
                <p class="text-gray-600 mb-4">Explore all the cities I've visited throughout my life!</p>
                <p class="text-gray-800 font-semibold mb-4">Total cities visited: {{ count_city }}</p>
                <div class="aspect-w-16 aspect-h-9">
                    <iframe src="{{ url_for('static', filename='interactive_world_map2.html') }}" class="w-full h-[600px] border-0 rounded-lg shadow-md" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-6xl mx-auto mt-8 px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Cities Block -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <div class="p-4 border-b bg-gray-50">
                    <h2 class="text-xl font-semibold text-gray-800">Cities Visited</h2>
                </div>
                <div class="p-4 max-h-96 overflow-y-auto">
                    <ul class="list-disc list-inside">
                        {% for city in cities | sort(attribute='city') | unique(attribute='city') %} {% if city.city != '' %}
                        <li class="text-gray-600 cursor-pointer hover:text-blue-500" onclick="zoomToCity('{{ city.city }}', '{{ city.state }}', '{{ city.country }}')">{{ city.city }}, {{ city.state }}, {{ city.country }}</li>
                        {% endif %} {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- States Block -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <div class="p-4 border-b bg-gray-50">
                    <h2 class="text-xl font-semibold text-gray-800">States Visited</h2>
                </div>
                <div class="p-4 max-h-96 overflow-y-auto">
                    <ul class="list-disc list-inside">
                        {% for state in cities | map(attribute='state') | unique | sort %} {% if state != '' %}
                        <li class="text-gray-600 cursor-pointer hover:text-blue-500" onclick="zoomToState('{{ state }}', '{{ cities | selectattr('state', 'equalto', state) | map(attribute='country') | first }}')">{{ state }}, {{ cities | selectattr('state', 'equalto', state) | map(attribute='country') | first }}</li>
                        {% endif %} {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Countries Block -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <div class="p-4 border-b bg-gray-50">
                    <h2 class="text-xl font-semibold text-gray-800">Countries Visited</h2>
                </div>
                <div class="p-4 max-h-96 overflow-y-auto">
                    <ul class="list-disc list-inside">
                        {% for country in cities | map(attribute='country') | unique | sort %}
                        <li class="text-gray-600 cursor-pointer hover:text-blue-500" onclick="zoomToCountry('{{ country }}')">{{ country }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-white shadow-lg mt-8">
        <div class="max-w-6xl mx-auto px-4 py-8">
            <p class="text-center text-gray-500">&copy; 2023 WanderLog. All rights reserved.</p>
        </div>
    </footer>

    <script>
        function zoomToCity(city, state, country) {
            sendZoomMessage('zoomToCity', {
                city,
                state,
                country
            });
        }

        function zoomToState(state, country) {
            sendZoomMessage('zoomToState', {
                state,
                country
            });
        }

        function zoomToCountry(country) {
            sendZoomMessage('zoomToCountry', {
                country
            });
        }

        function sendZoomMessage(action, data) {
            const mapIframe = document.querySelector('iframe');
            mapIframe.contentWindow.postMessage({
                action: action,
                ...data
            }, '*');
        }
    </script>

</body>

</html>